@model NewSchool.Models.ShowModel

@{
    ViewBag.Title = "师生风采详情";
}

<h2>@Model.Title</h2>

<fieldset>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
  
    <p>
        @Html.Raw(Model.Content)
    </p>
   
</fieldset>
<p class="text-center">
    @if (Request.IsAuthenticated)
    {
    Html.ActionLink("编辑", "Edit", new { id=Model.Id },new {@class="btn btn-default"});
        
    }
    @Html.ActionLink("返回列表", "Index", "Show", null, new { @class = "btn btn-primary" })
</p>
