 <table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
     <tbody>
         <tr>
             <td width="784" align="center">
                 <table border="0" cellspacing="1" cellpadding="1" align="center">
                     <tbody>
                         <tr bgcolor="">
                             <td><img src="./阜阳职业技术学院--人文社科系_files/20141210084816.jpg" border="0" alt="深入学习实践科学发展观"></td>
                         </tr>
                     </tbody>
                 </table>
             </td>
             <td width="219" height="120" background="@Url.Content("~/Content/images/index_11.jpg")">
                 <table width="98" border="0" align="center" cellpadding="0" cellspacing="2">
                     <tbody>
                         <tr>
                             <td>
                                 <a href="#">
                                     <img src="./阜阳职业技术学院--人文社科系_files/l1.jpg" width="198" height="53" border="0">
                                 </a>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <a href=#>
                                     <img src="./阜阳职业技术学院--人文社科系_files/l2.jpg" width="198" height="53" border="0">
                                 </a>

                             </td>
                         </tr>
                     </tbody>

                 </table>
             </td>
         </tr>
     </tbody>

 </table>