
<style>
 ul.normal li a {
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
 ul.normal li span {
     float: right;
 }
</style>
@Html.Partial("_ScrollImage")
   
<div class="col-md-3">
   @Html.Partial("_VMenu")
</div>
<div class="col-md-9" style="padding-left: 0px;padding-right: 0px;">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">院系概况</div>
        </div>
        <div class="panel-body" style="font-family:'微软雅黑';font-size: 16px;">
            <p style="text-indent: 2em;">
                人文与社会科学系成立于2013年3月，现有专职教师12名，其中教授5名，主要是来自西安交通大学、其他高校相关学科的学术带头人和长期从事媒体工作、具有扎实理论功底和实践经验的新闻传播领军人才；另聘请兼职老师若干名，共同组成一支精干高效、认真负责的教学科研工作团队。
            </p>
            <p style="text-indent: 2em;">
                人文社科系下设思想政治理论教研室和传播学教研室。
            </p>
            <p style="text-indent: 2em;">
                思政教研室自学院成立以来一直承担全院思想政治理论课及相关课程的教学任务，坚持开展思想政治理论课教学内容、教学方法和手段的改革与创新，形成了一整套适合学院实际的教学模式和运行机制，在提高教学质量、增强教学效果等方面进行了广泛和深入的教研活动，保证了课程教育目标的实现，先后在《中国教育报》、《中国教育教学杂志》、《中国教育发展与研究》发表论文多篇，获省级优秀教学成果二等奖一项。
            </p>
            <p style="text-indent: 2em;">
                传播学教研室承担传播学专业课、基础课和实验课程的教学任务，曾多次获得西安交通大学优秀教材奖、陕西省哲学社会科学优秀成果奖、自然科学优秀论文奖和王宽诚育才奖等。传播学专业以培养应用型本科人才为目标，按照新闻采写与编辑、媒体技术与应用、媒介经营与管理三个方向合理设置课程，培养新型传播学人才，给学生提供灵活实用的发展空间和就业选择。本专业承袭交通大学基础厚、重实践、严要求传统，将理论学习、实践训练、综合素质培养有机融为一体，特别重视对学生进行分析问题与解决问题的能力、实际动手能力和创新意识的培养，经过四年的学习训练，使学生既具有新闻传播学扎实的理论功底、专业知识，又具有熟练的动手操作能力，特别是掌握新媒体的理论和操作技能，为走向社会打下良好基础。
            </p>
            <p style="text-indent: 2em;">
                传播学属于跨学科专业，学生就业面广，不仅可以在传统媒体和新兴媒体行业从事新闻传播、编辑出版、网络制作与编辑等工作，还可以在各级宣传部门、企事业单位、文化传播公司等从事企事业新闻宣传、媒介活动策划、广告传播、文化交流与传播、动漫设计与制作、传媒与文化产业经营管理等，深受社会欢迎。
            </p>
        </div>
    </div>
    </div>

@section Scripts{
@*    <script>
    $(document).ready(function() {
        $(".carousel").carousel();
    });
</script>*@
}
